<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">	
<div class="page-header">
	<h1> Multiple Choice [ Index Page or Place Holder] </h1>
</div>
	<p> This is where you can talk about the choice and what to expect from the choice. 
	</p>
<p>
<div class="container">
</p>
	
		<form action="/query" method="post">
  			<div class="radio">
  				<label>
  					<input type="radio" name="Name" value='1' checked>Option 1
  				</label>
			</div>
			
			<div class="radio">
  				<label>
  					<input type="radio" name="Name" value='2' >Option 2
  				</label>
			</div>
			<div class="radio">
  				<label >
  					<input type="radio" name="Name" value='3' >Option 3
  				</label>
			</div>



  			<div class="container">

  			<p>
  			<button type="submit" class="btn-primary btn-lg" value="Submit" > Submit</button>  
  			</p>
  			</div>
		</form> 
</div>
</div>
	</body>
</html>
